.header {
    
}

.nav{
    position: relative;
    background-color: $white;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
}

.logo {
    //padding: 24px;
    margin-right: auto;
}

.menu {   
    margin-left: 20px;
    display: block;
    padding-right:20px;
}

.menu>span {
    margin-left: auto;
    display: block;
}

.links {
    padding: 3px;
    font-size: $font-sm;
    color: white;
}